<h1>Welcome <%= (@user.username).capitalize %></h1>
<h4>Recent Cards</h4>


  <% @cards.each do |card| %>
    <p><li><strong><%= card.title %></strong></p>
    <p><%= card.content %></p>
    <p><a href="/cards/<%= card.id %>/edit">Update or Delete Your Card!</a></li><br>
    </p>
  <% end %>  <br><br>

<a href="/cards/new">Create a Card!</a>

