<h1>Inspire Others Always!</h1>
  <form action="/cards" method="POST">

    <label for "name">Title: </label>
    <input type="text" name="title"><br>
    
    <label for "name">Content: </label>
    <input type="text" name="content"><br><br>
    
        <input value="submit" type="SUBMIT">
  </form>