<div class="article">
	<p>Welcome to CookBook! CookBook lets you create your own recipe/food-related cards - posts - that you can share with the world. Our goal is to connect you with other food/cooking enthusiasts. Create an account to access our site and start creating your cards today! Thank you for visiting CookBook!</p>
	<img src="https://i.pinimg.com/originals/64/54/fa/6454fae4cf57350a4f9914b3ba02461a.jpg" height="500">
							
</div>

<a href="/login">Log In Now!</a> <br><br>
<a href="/signup">Signup Now!</a>